@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Playfair+Display:ital,wght@1,400;1,700&display=swap');
@import "tailwindcss";

/* @tailwind utilities; */

html {
  scroll-behavior: smooth;
}